path {
  stroke:white;
  stroke-width: 1px;
}

h1{
  font-family: "微軟正黑體", "儷黑 Pro", "標楷體", PMingLiU, sans-serif;;
  font-size: 30px;
  font-weight: 700;
  background: black;
  color: orange;
  stroke-width: 2px;
  stroke:white;
  text-align: 450;
}

body {
  font-family: Arial, sans-serif;
}



.city {
  font: 10px sans-serif;
  font-weight: bold;
}

.legend {
  
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 150px;                  
  height: 25px;                 
  padding: 2px;             
  font-size: 10px;     
  background: #FFFFE0;
  border: 1px;      
  border-radius: 8px;           
  pointer-events: none;         
}        